doctype html
html
  head
    title  Pratik dance acadamy
    block scripts
    block style 
    style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/1.png")
                
            li #[a(href="/") Home] 
            li #[a(href="/") Services] 
            li #[a(href="/") Gallery]
            li #[a(href="/") About] 
            li #[a(href="/contact") Contact Us]
            
    block content
       
    footer#footer 
        | Copyright © 2023 DanceAcadamy.com | All Rights Reserved.